{% extends "base.html" %}

{% block titulo %}Registrarse{% endblock %}

{% block cabecera %}Registrese en el sitio{% endblock %}

{% block contenido %}
<form action="" method="POST">{% csrf_token %}
    {% for campo in formulario %}
        <p>{{campo.label_tag}}
            <br>
            {{campo}}
            {% for error in campo.errors %}
                {{error}}
            {% endfor %}
        </p>
    {% endfor %}
    <p><input type="submit" value="Registrarse"></p>
</form>

{% endblock %}